services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: snake-backend
    ports:
      - "8020:8020"
    environment:
      - PORT=8020
    networks:
      - snake-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - API_URL=http://backend:8020
    container_name: snake-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - snake-network
    restart: unless-stopped

  coturn:
    image: coturn/coturn:latest
    container_name: coturn
    restart: unless-stopped
    network_mode: host
    command:
      - "-n"
      - "--lt-cred-mech"
      - "--realm=turn.li1.nl"
      - "--user=peaceast:endoplazmikretikulum"
      - "--external-ip=213.14.134.174"
      - "--listening-port=3478"
      - "--tls-listening-port=5349"
      - "--fingerprint"
      - "--no-stdout-log"

networks:
  snake-network:
    driver: bridge

