services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: snake-backend-prod
    environment:
      - PORT=8020
    expose:
      - "8020"
    ports:
      - "8020:8020"
    networks:
      - snake-prod-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - API_URL=https://snake.li1.nl
    container_name: snake-frontend-prod
    expose:
      - "80"
    ports:
      - "8040:80"
    networks:
      - snake-prod-network
    restart: unless-stopped

networks:
  snake-prod-network:
    driver: bridge

