services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: snake-backend-prod
    environment:
      - PORT=8020
    expose:
      - "8020"
    ports:
      - "8020:8020"
    networks:
      - snake-prod-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - API_URL=https://snake.li1.nl
    container_name: snake-frontend-prod
    expose:
      - "80"
    ports:
      - "8040:80"
    networks:
      - snake-prod-network
    restart: unless-stopped

  coturn:
    image: coturn/coturn:latest
    container_name: coturn
    restart: unless-stopped
    network_mode: host
    command:
      - "-n"
      - "--lt-cred-mech"
      - "--realm=turn.li1.nl"
      - "--user=peaceast:endoplazmikretikulum"
      - "--external-ip=$(curl -s ifconfig.me)"
      - "--listening-port=3478"
      - "--tls-listening-port=5349"
      - "--min-port=49152"
      - "--max-port=65535"
      - "--fingerprint"
      # - "--no-stdout-log"
      - "--verbose"

networks:
  snake-prod-network:
    driver: bridge

