services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: snake-backend-prod
    environment:
      - PORT=8080
    expose:
      - "8080"
    networks:
      - snake-prod-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - API_URL=https://snake.teora.me
        - WS_URL=wss://snake.teora.me
    container_name: snake-frontend-prod
    expose:
      - "80"
    networks:
      - snake-prod-network
    restart: unless-stopped

  proxy:
    image: nginx:1.27-alpine
    container_name: snake-proxy-prod
    depends_on:
      - frontend
      - backend
    ports:
      - "80:80"
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - snake-prod-network
    restart: unless-stopped

networks:
  snake-prod-network:
    driver: bridge

