services:
  coturn:
    image: coturn/coturn:latest
    container_name: coturn
    restart: unless-stopped
    network_mode: host
    command:
      - "-n"
      - "--lt-cred-mech"
      - "--realm=turn.li1.nl"
      - "--user=peaceast:endoplazmikretikulum"
      - "--external-ip=213.14.134.174/192.168.50.198"
      - "--listening-port=3478"
      - "--tls-listening-port=5349"
      - "--min-port=49152"
      - "--max-port=65535"
      - "--fingerprint"
      # - "--no-stdout-log"
      - "--verbose"